.product-container {
    display: flex;
    justify-content: space-between;
    min-height: 560px;
    gap: 15rem;
    width: 100%;
    margin: 10rem 0;
    
  }

.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 540px;
  min-height: 560px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.left-section img {
  width: 100%;
  background-color: #F2F2F2;
  border-radius: 8px;

}
.shadow {
  position: relative;
  top: -20px;
}

.right-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-section img {
  width: 100%;
}
h3 {
  color: #d87d4a;
  letter-spacing: 10px;
  text-transform: uppercase;
 padding-bottom: 1.5rem;

}

.text{
  letter-spacing: 1.43px;
  line-height: 44px;
  text-transform: uppercase;
  padding-bottom: 2rem;
  font-weight: bold;
}
p {
  color:black;
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 40px;
}
.button {
  width: 160px;
  background-color:#d87d4a;
  color: white;
  text-decoration: none;
  padding: 15px 30px;

}
.reverse {
  display: flex;
  justify-content: space-between;
}



@media (max-width:769px) {

  .product-container{
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
 .reverse{
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
 }
 .title{
  min-width: 600px;
 }

  
.left-section img {
  width: 100%;
}
.right-section {
  width: 570px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.description {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.description .text {
  text-align: center;



}
.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
}



  
}

@media (max-width:376px) {
.title {
  min-width: 350px;

}

  .left-section {
  width: 70%;
    margin-top: -240px;

}
.left-section img {
  width: 60%;

}

.right-section {
  width: 90%;
  margin-top: -240px;
}
}