@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --color-primary: #d87d4a;
  --color-danger: #cd2c2c;
  --color-board : #F2F2F2;
  --color-text : #979797;
}

img {
  max-width: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  color: #f2f2f2e8;
}

a {
  color: white;
  font-family: "Manrope", sans-serif;
}

button {
  font-family: "Manrope", sans-serif;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: auto;
  border-radius: 10px;

}

@media (max-width : 769px) {
  .conainer {
    width: 100%;
    margin-left: 30px;
    overflow: hidden;
  }

  
}
@media (max-width : 376px) {
  .conainer {
    width: 100%;
    margin-left: 30px;
    overflow: hidden;
  }

  
}

