.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;

}

.cart {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.29px;
    text-transform: uppercase;
}

.clear {
    border: none;
    background-color: transparent;
    color: #d87d4a;
    text-decoration: underline;
}

.price-sum {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3rem;
}

@media (max-width:769px) {
    .modal-title{
        width: 100%;
    }
    
}

@media (max-width:376px) {
    .cart-modal{
        margin-right: 2rem;

    }
  
}